<form id="register" #registerForm="ngForm" (ngSubmit)="handleSubmit()">
  <div>
    <label for="name">Nome</label>
    <input required type="text" id="name" name="name" [(ngModel)]="user.name" />
  </div>

  <div>
    <label for="email">e-mail</label>
    <input
      required
      id="email"
      type="email"
      name="email"
      [(ngModel)]="user.email"
    />
  </div>

  <div>
    <label for="name">Senha</label>
    <input
      required
      id="password"
      type="password"
      name="password"
      [(ngModel)]="user.password"
    />
  </div>

  <button type="submit" [disabled]="registerForm.form.invalid">
    Criar Conta
  </button>
  <a routerLink="/authentication/login">Voltar para login</a>
</form>
