<form id="login" #loginForm="ngForm" (ngSubmit)="handleSubmit()">
  <div>
    <label for="email">e-mail</label>
    <input
      required
      id="email"
      type="email"
      name="email"
      [(ngModel)]="authentication.email"
    />
  </div>

  <div>
    <label for="password">Senha</label>
    <input
      required
      id="password"
      type="password"
      name="password"
      [(ngModel)]="authentication.password"
    />
  </div>

  <button type="submit" [disabled]="loginForm.form.invalid">Entrar</button>
  <a routerLink="/authentication/register">Cadastre-se</a>
</form>
