.btn-shadow {
  filter: drop-shadow(0px 4px 4px #00000040);
}

.btn {
  @apply h-auto min-w-[110px] rounded-full;
  padding: 0.4rem 0.8rem !important;
  color: $text;

  &:disabled {
    @apply opacity-80 cursor-not-allowed;
  }
}

.btn-primary {
  @extend .btn;
  @extend .btn-shadow;
  background: $primary;
}

.btn-secondary {
  @extend .btn;
  @extend .btn-shadow;
  background: $secondary;
}

.btn-tertiary {
  @extend .btn;
  @extend .btn-shadow;
  background: $tertiary;
}
